.MainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    align-items: center;
    gap: 2em;

    .containerleft {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }

    .tituloProducto {
        font-size: 3rem;
    }

    .Producto {
        width: 100%;
    }

    .containerRight {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
        align-items: center;
        justify-items: center;

        .botonsito {
            font-size: 1.5em;
            color: white;
            background-color: #6550C5;
            width: 15em;
            height: 3em;
            border-radius: 30px;
        }
    }
}

.total {
    font-size: 2em;
}