<div class="a">
    <div class="MainContainer">
        <div class="containerleft">
            <div *ngFor="let item of data.productos">
                <p class="tituloProducto">{{item.producto.nombreProducto}}</p><br><br>
                <img src="assets/{{item.producto.imagen}}" alt="Imagen del producto" class="Producto">
                <p>
                    <TR>
                        <TD>Descripcíon:</TD> <TD>{{item.producto.Descripcion_Producto}}</TD>
                    </TR>
                    <TR>
                        <TD>Categoria:</TD> <TD>{{item.producto.nombreCategoria}}</TD>
                    </TR>
                    <TR>
                        <TD>Precio:</TD> <TD>₡{{item.producto.precio}}</TD>
                    </TR>
                    <br><br>
                    <TR>
                        <TD>Disponibles:</TD> <TD>{{item.producto.cantidad}}</TD>
                    </TR>
                    <TR>
                        <TD>Solicitados:</TD> <TD>{{item.strock}}</TD>
                    </TR>   
                </p>
                <hr>
            </div>
        </div>
        <div class="containerRight">
            <p class="total"><strong>Total: ₡{{data.total}}</strong></p>
            <button mat-button class="botonsito" (click)="pagarCarrito()">Pagar</button>
            <button mat-button class="botonsito" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</div>