<app-adminbarra></app-adminbarra>
<div class="maincontainer">
    <div class="tittle">
        <span>Total facturado</span>
    </div>
    <div class="containerPositionFilter">
        <div class="filterProduct">
            <div class="imputNamePorduc">
                <mat-form-field>
                    <mat-label>Fecha inicial</mat-label>
                    <input matInput [matDatepicker]="dp1" disabled  [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="selectCategory">
                <mat-form-field>
                    <mat-label>Fecha final</mat-label>
                    <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="date2">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="selectCategory">
                <form>
                    <mat-form-field class="selecteFormCategory">
                        <mat-label>Categoria</mat-label>
                        <mat-select [formControl]="categoriasControl">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let food of categorys" [value]="food.idCategoria">
                            {{food.nombreCategoria}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <button mat-flat-button class="buttonFiltro" (click)="filterInventary()">Filtrar</button>
        </div>
    </div>
    <div class="containertable">
        <table mat-table [dataSource]="inventario" class="mat-elevation-z8">

            <ng-container matColumnDef="producto">
              <th mat-header-cell *matHeaderCellDef> Categoria </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreCategoria}} </td>
            </ng-container>

            
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Sede </th>
                <td mat-cell *matCellDef="let element"> {{element.sedeDeCompra == "car"? " Cartago" : "Limón"}} </td>
            </ng-container>

            <ng-container matColumnDef="descriptor">
                <th mat-header-cell *matHeaderCellDef> Vendidos </th>
                <td mat-cell *matCellDef="let element"> {{element.TotalCategoria}} </td>
            </ng-container>

            <ng-container matColumnDef="invetario">
                <th mat-header-cell *matHeaderCellDef> Obtenido </th>
                <td mat-cell *matCellDef="let element"> ₡{{element.precio}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
          </table>
    </div>
</div>