.maincoitainer {
    position: absolute;
    width: 100%;
    top: 13%;
    //height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1em;
}

.filtros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //gap: 1em;
    justify-items: center;
    align-items: center;
}

.containertable {
    width: 100em;
    height: 50em;
    background-color: #BC88F8;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 30px;
    margin: 16px;
    padding: 16px;
}

.unput {
    width: 250px;
}

.buttonFiltro {
    color: white;
    background-color: #6550C5;
    width: 10em;
    height: 3em;
    border-radius: 30px;
}

table {
    width: 100%;
}


span {
    //color: white;
    font-size: 3em;
}

.inventaryAdding {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.selecteFormCategory {
    width: 250px;
}\\button:hover {
  box-shadow: 2px 2px 10px #666;
}

button:hover {
    box-shadow: 2px 2px 10px #666;
  }