.sidenav-container
{
  height: 10%;
}

.sidenav
{
  width: 15%;
}

.sidenav .mat-toolbar
{
  background: inherit;
}

.matToolbarPrincipal
{
  background-color: #7100F0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 90%;
}

.matToolbarSidnev
{
  color: black;
  cursor: pointer;
}

.TituloToback
{
  position: absolute;
  left: 30%;
  //height:1%;
  font-family: Candara;
  font-size: 4em;
  cursor: pointer;
}

.logo
{
  width: 1em;
}

.carrito {
  width: 3em;
}

.imageCartContainer {
  position: absolute;
  left: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //gap: 1em;
  align-items: center;
  justify-items: center;
}